* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 20px 0;
    background: lavenderblush;
}

.memoryCards {
    max-width: 100%;
    margin: 16%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}
  
.card {
    display: flex;
    justify-content: space-between;
    background-color: plum;
    border-radius: .25em;
    border-top-right-radius: 25px;
    padding: 6px;
    box-shadow: 10px 10px rgb(228, 87, 87);
    
    

}




